.logo{
    font-weight: 600;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

img {
    max-width: 100%;
}

.top-box {
    margin-top: 5vmin;
    background-color: #007bff;
    color: white;
    font-family: helvetica;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60vh;
    width: 100%;
}

.top-box h3 {
    font-size: 1.5rem;
}

.top-box p {
    font-size: 1rem;
}

.box-text {
    width: 50%;
}

.box-text button {
    background-color: white;
    border: none;
    padding: 1em;
    font-size: 0.8rem;
    color: #007bff;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
}

.box-image {
    width: 30%;
}

.main-box {

    width: 90%;
    
    display: flex;
    margin-top: 10vmin;
    justify-content: space-evenly;
    
}

.left-box {
    width: 60%;
}

/*---END---*/






