.quiz-gamification {
    background: url("https://images.pexels.com/photos/5428829/pexels-photo-5428829.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    isolation: isolate;
}

/*Designing rules box*/
.rules{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
    padding: 0.6em;
    margin-top: 5vmin;
}

.rules h3 {
    color: brown;
}

.rules p {
    color: #b5651d;
}
/*Designing rules box END*/

#start-btn{
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    padding: 0.6em;
    color: brown;
    border-radius: 20px;
}

.quiz-gamification form {
    margin-top: 5vmin;
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    padding: 2em 4em;
    
}

.quiz-gamification form div {
    margin: auto;
    font-family: georgia;
    font-size: 1.3rem;
    color: white;
}

.quiz-gamification form div a {
    text-decoration: none;
    background-color: white;
    color: brown;
    padding: 0.5em;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    text-transform:capitalize;
}

.quiz-gamification form::after {
    content: "";
    position: absolute;
    background-color: #b5651d;
    inset: 0;
    z-index: -1;
    mix-blend-mode: multiply;
}

#quiz-submit {
    background-color: brown;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    padding: 0.6em;
}


.hide {
   display: none;
}

#result_set{
    background-color: white;
    padding: 1em;
    color: brown;
    font-size: 1.5rem;
}

